.dtdsh-feed-home {
	border: 1px solid #999;
	h2 {
		border-bottom: 1px solid #999;
		margin-top: 0;
		padding: .25em 0;
		text-align: center;
		position: relative;
		@media (max-width: 717px) {
			padding-bottom: 0;
		}
		.dtdsh-link_more {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			background-color: #d72d00;
			padding: .5rem 1rem;
			color: #fff !important;
			@media (max-width: 717px) {
				position: relative;
				display: block;
				box-sizing: border-box;
				width: 100%;
			}
		}
		.fa {
			margin-left: .8rem;
		}
	}
	.dtdsh-clearfix::after {
		content: ' ';
		display: block;
		height: 0;
		font-size: 0;
		clear: both;
		visibility: hidden;
	}
	.dtdsh-entry {
		list-style: none !important;
		margin: 1rem auto;
		padding: .5rem 1rem;
		border-bottom: 1px solid #DDD;
		&:last-of-type {
			border-bottom: none;
		}
		p {
			margin-bottom: .25em;
		}
	}
	.dtdsh-float-left {
		float: left;
		box-sizing: border-box;
		padding-right: 1rem;
		img {
			max-width: 300px;
		}
	}
}